extends layout

block content
    .container
        h3 Top 10 Movies 2018
        a.btn.btn-success(href='/addmovie') + Movie
        br
        br
        .table-responsive
            table.table.table-bordered
                thead
                    tr
                        th Poster
                        th MoviesName
                        th Year of Release
                        th Plot
                        th Cast
                        th Edit
                tbody
                    each movie in movies
                        tr
                            td.text-center 
                                img(src=`/uploads/${movie.poster}`, alt="image", srcset="")
                            td #{movie.movie_name}
                            td #{movie.release_year}
                            td #{movie.plot}
                            td 
                                each actor in movie.cast
                                    span=actor.actor_name
                                    |, 
                            td 
                                .gridbox
                                    a.btn.btn-default(href=`/editmovie/${movie._id}`) 
                                        i.fa.fa-pencil
                                    form(action=`/deletemovie/${movie._id}`, method="post")
                                        button.btn.btn-danger(type="submit")
                                            i.fa.fa-trash
